<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
</head>

<body>

    <header>
        <div class="logotext">
            <img src="/assets/logo.png" alt="">
            <a class= "sobre" href="/sobre.html">Sobre nós</a>
            <a class= "receitas" href="/receitas.html">Receitas</a>
            <a class= "receitas" href="/">Home</a>
        </div>
    </header>





        {% block content %}
        
        {% endblock %}

        
    </section>

    <div class="bottom">
        <p>Todos os direitos reservados - receitas Foodfy [thmdev!]</p>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">Fechar</a>
            <div class="modal-content">
                
            </div>
        </div>
    </div>

</body>

</html>